<launch>
  <node pkg="rosserial_arduino" type="serial_node.py" name="serial" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="57600" />
  </node>
  <node pkg="rplidar_ros" type="rplidarNode" name="rplidar" output="screen">
    <param name="inverted" value="true" />
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  <node pkg="egoat" type="tf_broadcaster" name="transform" output="screen">
  </node>
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
  </node>
</launch> 
